* {
    padding: 0;
    margin: 0;
}

a,
button {
    cursor: pointer;
}

img {
    width: 100%;
    vertical-align: top;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.l-wrap {
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px 60px;
    gap: 10px;
}

header {
    text-align: center;
    padding-bottom: 1em;
}

section form{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    gap: 10px;
    padding-bottom: 10px;
}

.inp-title,
#content-textarea,
.inp-btn {
    display: block;
    max-width: 100%;
    box-sizing: border-box;
    border: solid 1px black;
    padding: 0.5em;
    font-weight: bold;
}

#content-textarea {
    min-height: 100px;
    font-size: 1.5em;
}

/* card */

.section-container {
    max-width: 1280px;
    display: flex;
    gap: 10px;
     /* wrap : 줄바꿈처리 */
    flex-wrap: wrap;
}

.section-container .card-item {
    width: calc((100% - (10px * 3)) / 4);
    position: relative;
}

.card-item a {
    width: 100%;
    color: #29363d;
    text-decoration: none;
    border-radius: 8px;
    display: block;
    background: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-item .card-img {
    object-fit: cover;
}

.close {
    position: absolute;
    background-color: transparent;
    border: solid 2px black;
    border-radius: 8px;
    font-size: 1em;
    padding: 1px 5px;
    top: 0;
    right: 0;
    z-index: 30;
}


.card-text {
    padding: 10px;
}

.card-text .title {
    font-size: 16px;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: solid 1px black;
    text-align: center;
}

.card-text .title + p {
    font-size: 12px;
    color: #5a6a72;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    margin: 12px 0 16px;
    line-height: 20px;
    height: 40px;
    border-bottom: solid 1px black;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    font-weight: bold;
    align-items: center;
}

.sequence {
    padding-top: 0.5em;
    font-size: 0.8em;
}

.underline {
    text-decoration: underline;
}